body{
    background-color: rgb(236, 236, 236);
}
nav {
    
        background-color: #8ccfff;
        
    
}
.titulo{
    color: black;
    align-items: center;
    text-align: center;
    font-size: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.painel{
    text-align: center;
}
.title2{
    color: rgb(73, 94, 111);
    align-items: center;
    text-align: center;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
